.App-header {
  display: inline;
  color: #d73953;
}
.App-body {
  color: black;
}
.App-footer {
  display: relative;
  color: blue;
  text-align: center;  
  font-style: italic;
  position: bottom;
}
hr {
  color: #d73953;
}
img {
  display: inline;
}
